@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap");
body {
  font-family: "Montserrat";
  color: #f9faf9;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

img {
  width: auto;
  display: block;
  max-width: 100%;
  height: auto;
}
.container-fluid {
  padding: 0 4%;
}
#navigation {
  background-color: #158467;
  color: #f9faf9;
}
/* Main*********************************************************************************************** */
#main {
  background-color: #158467;
  color: #f9faf9;
  padding: 2rem 0 0 0;
}

.navbar-brand {
  font-family: "Pacifico";
  font-size: 2.7rem;
}
.navbar-brand:hover {
  color: #f9faf9;
}
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Comfortaa";
  font-size: 1.6rem;
  transition: 0.3s;
}
.nav-link:hover {
  text-decoration: underline;
  color: #d588e0 !important;
}
.nav-link:active {
  color: #e6e4e4 !important;
}
.nav-active {
  color: #e6e4e4 !important;
}
.main-header {
  margin-top: 30%;
  font-size: 3.7rem;
  font-weight: 900;
  color: #f9faf9;
}
.main-picture {
  padding: 0 0 3% 0;
}
/* Features********************************************************************************************* */
#features {
  background-color: #fadcac;
}
.features-wrapper {
  margin-top: 2%;
}

.features-pic {
  max-width: 45%;
  margin: 0 auto;
  animation: spin 10s linear infinite;
  animation-play-state: paused;
}
.features-pic:hover {
  animation-play-state: running;
}
.msg {
  color: whitesmoke;
  text-align: center;
  font-family: "Bree Serif", Courier, monospaced;
  width: 200px;
  position: absolute;
  margin: 55px 0 0 2px;
  pointer-events: none;
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
.features-box {
  text-align: center;
  padding: 6% 8%;
}

.features-header {
  font-weight: 900;
  font-size: 1.9rem;
  margin-top: 4%;
  color: #0c0c0c;
}
.features-subheader {
  font-size: 1.4rem;
  color: #0c0c0c;
}

/* About ********************************************************************************************** */
.container {
  padding: 0;
}
#about {
  background-color: #065446;
  text-align: center;
}
.about-wrapper {
  max-width: 60%;
  padding: 5% 0 3% 0;
}
.brand {
  font-family: "Pacifico";
  font-size: 2.9rem;
}
.about-descr {
  font-size: 2.1rem;
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  font-family: "Comfortaa";
}
.about-pic {
  max-width: 40%;
  margin: 0 auto;
  margin-top: 2%;
}
.about-item {
  font-family: "Comfortaa";
  font-size: 2.5rem;
  font-weight: 700;
}
/* Press *********************************************************************************************** */
#press {
  background-color: #fadcac;
}
.press-wrapper {
  padding: 2% 0 4% 0;
  max-width: 75%;
  margin: 0 auto;
}
.press-box {
  margin: 0 auto;
  position: relative;
  margin-top: 4%;
}
.press-img {
  max-width: 58%;
  margin: 0 auto;
}
.press-btn {
  position: absolute;
  z-index: 2;
  top: 46%;
  right: 20%;
  max-width: 33%;
  transition: 0.5s;
}
.press-btn:hover {
  transform: scale(1.1);
}
.press-btn:active {
  transform: scale(0.9);
}

#scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 26px;
  width: 3rem;
  height: 3rem;
  opacity: 0.7;
  transition: 0.5s;
}
#scroll-top-btn:hover {
  opacity: 1;
}

.btnEntrance {
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
@keyframes btnEntrance {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

@keyframes btnExit {
  from {
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}
/* Footer ********************************************************************************************* */
#footer {
  background-color: #065446;
}
.footer-img {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 2%;
  padding: 1% 0;
  transition: 0.5s;
  cursor: pointer;
}
.footer-img:hover {
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
}

.copyright {
  text-align: center;
  font-family: "Comfortaa";
  padding: 0 0 1% 0;
  margin-bottom: 0px;
  font-size: 0.9rem;
}
.footer-link {
  cursor: default;
  text-align: center;
}
/* Pages ********************************************************************************** * */
#lang {
  background-image: url(img/bg2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
#math {
  background-image: url(img/bg5.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
#craft {
  background-image: url(img/bg7.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
#world {
  background-image: url(img/bg10.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-descr {
  color: #0c0c0c;
  font-size: 1.8rem;
  margin: 0 auto;
  padding-top: 3.3rem;
}
.text {
  margin-top: 7%;
  font-size: 2.1rem;
}

.text-span {
  font-size: 2.3rem;
  font-weight: 700;
}
.content-image {
  max-width: 70%;
  max-height: 70%;
  margin-left: -2rem;
}
#content {
  background-color: #fff0d7;
  color: #0c0c0c;
}
.content-wrapper {
  max-width: 90%;
  margin: 0 auto;
}
.cards-wrapper {
  padding-top: 4rem;
}
.card-title {
  font-weight: 500;
  font-size: 1.6rem;
  margin: 1.4rem 0 1.7rem 0;
  max-height: 4rem;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;

  text-align: center;
  letter-spacing: -0.3px;
}
:root {
  --mainColor: #d588e0;
}

.card-title {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 0px 0px;
  color: #252525;
  transition: background-size 0.2s;
}

.card-title:hover {
  background-size: 4px 50px;
}

.post-link {
  color: #197163;
  font-size: 1.3rem;
  font-weight: 600;
}
.post-link:hover {
  color: #209582;
}

.card-body {
  background-color: #fff0d7;
}
.card-img-top {
  transition: 0.5s;
  box-shadow: 1px 2px 7px #888888;
}
.card-img-top:hover {
  box-shadow: 4px 5px 8px #888888;
}

/* Articles ********************************************************************************* */
.article {
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff0d7;
}

.article-wrapper {
  margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 3rem;
  color: #161616;
  font-size: 2rem;
}
.article-title {
  text-align: center;
  font-weight: 600;
  font-size: 2.2rem;
  margin-top: 2.5rem;
}
.article-content {
  text-align: center;
  margin-top: 1.6rem;
}
.show {
  display: block;
}

.hide {
  display: none;
}
.article-img {
  margin: 0 auto;
}

.close {
  border-radius: 0.2rem;
  color: #fff8eb;
  border: 1px solid #954ea0;
  margin-top: 1rem;
  font-size: 1.1rem;
  width: 14rem;
  height: 2.6rem;
  background-color: #954ea0;
}

.close span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.close span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -0.3rem;
  transition: 0.2s;
}

.close:hover span {
  padding-right: 1.1rem;
}
.close:hover {
  background-color: #fff0d7;
  color: #954ea0;
}
.close:hover span:after {
  opacity: 1;
  right: 0;
}
.close:active {
  transform: scale(0.9);
}

.download-link {
  max-width: 13%;
  text-decoration: none;
}
.download-btn {
  border-radius: 0.2rem;
  color: #fff8eb;
  border: 1px solid #954ea0;
  margin-top: 1rem;
  font-size: 1.1rem;
  width: 9.5rem;
  height: 2.6rem;
  background-color: #954ea0;
}
.download-btn:hover {
  background-color: #fff0d7;
  color: #954ea0;
}
.download-btn:active {
  transform: scale(0.9);
}
.fa {
  padding-right: 0.3rem;
}

/* Media-queries ************************************************************************************* */

@media (max-width: 1462px) {
  .nav-link {
    font-size: 1.1rem;
  }
  .navbar-brand {
    font-size: 1.8rem;
  }
  .main-header {
    margin-top: 30%;
    font-size: 2.4rem;
    text-align: center;
  }
  .main-picture {
    margin: 0 auto;
    padding: 0 0 3% 0;
  }

  .features-wrapper {
    margin-top: 3%;
  }
  .features-pic {
    width: 35%;
    margin: 0 auto;
  }
  .features-header {
    font-weight: 900;
    font-size: 1.6rem;
  }
  .features-subheader {
    font-size: 1.2rem;
  }

  .brand {
    font-family: "Pacifico";
    font-size: 2.3rem;
  }
  .about-descr {
    font-size: 1.7rem;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 7%;
    font-family: "Comfortaa";
  }
  .about-pic {
    max-width: 45%;
    margin: 0 auto;
    margin-top: 5%;
  }
  .about-wrapper {
    max-width: 80%;
  }
  .content-image {
    max-width: 100%;
    max-height: 80%;
  }
  .press-wrapper {
    padding: 2% 0 4% 0;
    max-width: 95%;
    margin: 0 auto;
  }

  .press-img {
    max-width: 65%;
    margin: 0 auto;
  }
  .text-span {
    font-size: 1.7rem;
    font-weight: 700;
  }
  .text {
    font-size: 1.6rem;
  }
  .card-title {
    font-size: 1.4rem;
  }

  #scroll-top-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 992px) {
  .nav-link {
    font-size: 1.1rem;
  }
  .navbar-brand {
    font-size: 1.8rem;
  }
  .main-header {
    margin-top: 20%;
    font-size: 2.1rem;
    text-align: center;
  }
  .main-picture {
    max-width: 70%;
    margin: 0 auto;
  }

  .features-wrapper {
    margin-top: 3%;
  }
  .features-pic {
    max-width: 25%;
    margin: 0 auto;
  }
  .features-header {
    font-weight: 900;
    font-size: 1.6rem;
  }
  .features-subheader {
    font-size: 1.2rem;
  }

  .brand {
    font-family: "Pacifico";
    font-size: 2.3rem;
  }
  .about-descr {
    font-size: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 7%;
    font-family: "Comfortaa";
  }
  .about-pic {
    max-width: 45%;
    margin: 0 auto;
    margin-top: 5%;
  }
  .about-wrapper {
    max-width: 85%;
  }
  .article-content {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.7rem;
  }
  #lang {
    background-image: url(img/bg4.jpg);
  }
  #math {
    background-image: url(img/bg6.jpg);
  }
  #craft {
    background-image: url(img/bg9.jpg);
  }
  #world {
    background-image: url(img/bg11.jpg);
  }
  #scroll-top-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  .text-span {
    font-size: 1.7rem;
    font-weight: 700;
  }
  .text {
    font-size: 1.4rem;
  }
  .content-image {
    margin: 0;
  }
  .math {
    margin-left: 40%;
  }

  .download-btn {
    display: block;
  }
  .close {
    display: block;
    margin-top: 1rem;
    float: none !important;
  }
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 1rem;
    color: #f9faf9;
  }
  .nav-item {
    padding: 0;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  .navbar {
    padding-bottom: 0.5rem;
  }
  .main-header {
    margin-top: 0;
    text-align: center;
    font-size: 1.7rem;
  }
  .main-picture {
    max-width: 60%;
    margin: 0 auto;
  }

  .features-wrapper {
    margin-top: 3%;
  }
  .features-pic {
    max-width: 20%;
    margin: 0 auto;
  }
  .features-header {
    font-weight: 900;
    font-size: 1.6rem;
  }
  .features-subheader {
    font-size: 1.2rem;
  }

  .brand {
    font-family: "Pacifico";
    font-size: 1.3rem;
  }
  .about-descr {
    font-size: 1rem;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 7%;
    font-family: "Comfortaa";
  }
  .about-pic {
    max-width: 55%;
    margin: 0 auto;
    margin-top: 5%;
  }
  .about-wrapper {
    max-width: 87%;
  }
  .press-wrapper {
    padding: 2% 0 4% 0;
    max-width: 90%;
    margin: 0 auto;
  }

  .press-img {
    max-width: 60%;
    margin: 0 auto;
  }
  .footer-img {
    width: 4%;
  }
  .copyright {
    font-size: 0.7rem;
  }
  .card-title {
    font-size: 1.3rem;
  }
  .article-title {
    text-align: center;
    margin-top: 2.2rem;
    font-size: 1.7rem;
  }
  .article-content {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
  }

  .math {
    margin: 0;
  }
  .content-image {
    width: 80%;
  }
  .download-btn {
    display: block;
  }
  .close {
    display: block;
    margin-top: 1rem;
    float: none !important;
  }
  #scroll-top-btn {
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 480px) {
  .nav-link {
    font-size: 1rem;
    color: #f9faf9;
  }
  .nav-item {
    padding: 0;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }
  .main-header {
    margin-top: 0;
    font-size: 1.3rem;
  }
  .navbar {
    padding-bottom: 0;
  }

  .features-header {
    font-weight: 900;
    font-size: 1rem;
    margin-top: 4%;
  }
  .features-subheader {
    font-size: 1rem;
  }

  .brand {
    font-family: "Pacifico";
    font-size: 1.2rem;
  }
  .about-descr {
    font-size: 0.8rem;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 7%;
    font-family: "Comfortaa";
  }
  .about-pic {
    max-width: 55%;
    margin: 0 auto;
    margin-top: 5%;
  }
  .about-wrapper {
    max-width: 85%;
  }
  .press-wrapper {
    padding: 2% 0 4% 0;
    max-width: 95%;
    margin: 0 auto;
  }

  .press-img {
    max-width: 65%;
    margin: 0 auto;
  }
  .footer-img {
    width: 8%;
  }
  .copyright {
    font-size: 0.5rem;
  }
  .card-title {
    font-size: 1.1rem;
  }
  .article-title {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2.5rem;
  }
  .article-content {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
  }

  .text-span {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .text {
    font-size: 1.2rem;
  }
  #lang {
    background-image: url(img/bg3.jpg);
  }
  .math {
    margin: 0;
  }
  #craft {
    background-image: url(img/bg8.jpg);
  }
  #scroll-top-btn {
    position: fixed;
    bottom: 0.5rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
  }
}
